/** Import Font Face **/
@font-face {
    font-family: 'Clarendon';
    src: url('font/Clare.eot');
    src: url('font/Clare.eot?#iefix') format('embedded-opentype'),
         url('font/Clare.svg#Clarendon') format('svg'),
         url('font/Clare.woff') format('woff'),
         url('font/Clare.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeue';
    src: url('font/HelveticaNeue.eot');
    src: url('font/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('font/HelveticaNeue.svg#HelveticaNeue') format('svg'),
         url('font/HelveticaNeue.woff') format('woff'),
         url('font/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('font/HelveticaNeueLight.eot');
    src: url('font/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
         url('font/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg'),
         url('font/HelveticaNeueLight.woff') format('woff'),
         url('font/HelveticaNeueLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('font/HelveticaNeueBold.eot');
    src: url('font/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
         url('font/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg'),
         url('font/HelveticaNeueBold.woff') format('woff'),
         url('font/HelveticaNeueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('font/HelveticaNeueMedium.eot');
    src: url('font/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
         url('font/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg'),
         url('font/HelveticaNeueMedium.woff') format('woff'),
         url('font/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ============================================= */
/* 					GENERAL						 */
/* ============================================= */	

html {
	margin-top: 0px !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html {
	font-family: sans-serif;
	font-size: 100%;
}

body {
	background-color: #F8EBE2;
	color: #FFFFFF;
	font-size: 17px;
	margin: 0 auto;
	max-width: 1920px;
	text-align: center;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #f76d36;
	cursor: pointer;
}

a img {
	border: none;
	display: block;	
}

.wrap {
    margin: 0 auto;
    padding: 0;
    width: auto;
}

.wrap:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.container {
    margin: 0 auto;
    /*max-width: 1100px;*/
    width: 1100px;
    position: relative;
}

.shadow {
	-moz-box-shadow:    3px 3px 3px 3px #ccc;
	-webkit-box-shadow: 3px 3px 3px 3px #ccc;
	box-shadow:         3px 3px 3px 3px #ccc;
}

/* ============================================= */
/* 					HEADER						 */
/* ============================================= */	

header {
	text-align: left;
}

.header-top {
	background: -webkit-linear-gradient( #2f2f2f, #000000 );
	background: -o-linear-gradient( #2f2f2f, #000000 );
	background: -ms-linear-gradient( #2f2f2f, #000000 );
	background: linear-gradient( #2f2f2f, #000000 );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#000000',GradientType=0 );
	min-height: 100px;
	min-width: 1100px;
}

.header-bottom {
	background: none repeat scroll 0 0 #f9f2e8;
}

.logo {
	display: block;
    left: 6%;
    position: absolute;
    top: 0;
    width: 26.5%;
}

.logo img {
	width: 100%;
}

ul.social {
	display: inline-block;
    margin: 0;
    padding: 17px 5% 7px 33%;
    text-align: right;
    width: 62%;
}
ul.social li {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

ul.social li a {
	font-family: 'HelveticaNeue-Medium';
	font-weight: normal;
	color: #999;
	font-size: 11px;
}
ul.social li a:hover {
	color: #FFFFFF;
}

ul.social .facebook {
	background: url("../images/soc_icon.png") no-repeat scroll 0 -22px rgba(0, 0, 0, 0);
    display: block;
    height: 22px;
    width: 22px;
}
ul.social .facebook:hover {
	background-position: 0px 0px;
}

ul.social .twitter {
	background: url("../images/soc_icon.png") no-repeat scroll -29px -22px rgba(0, 0, 0, 0);
    display: block;
    height: 22px;
    width: 22px;
}
ul.social .twitter:hover {
	background-position: -29px 0px;
}

ul.social .youtube {
	background: url("../images/soc_icon.png") no-repeat scroll -59px -22px rgba(0, 0, 0, 0);
    display: block;
    height: 22px;
    width: 22px;
}
ul.social .youtube:hover {
	background-position: -59px 0px;
}


ul.main-menu {
	display: inline-block;
    margin: 0;
    padding: 0 5% 10px 33%;
    text-align: right;
    width: 62%;
}
ul.main-menu li {
	background-image: url("../images/mnu_line.png");
    background-position: right center;
    background-repeat: no-repeat;
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0 20px;
}
ul.main-menu li:last-child {
    background-image: none;
    padding-right: 0px;
}

ul.main-menu li a {
	color: #FFFFFF;
	font-family: 'Clarendon';
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

ul.main-menu li a:hover {
	color: #0096D6;
}


ul.header-buttons {
	display: inline-block;
    margin: 0;
    padding: 5px 5% 0 33%;
    text-align: right;
    width: 62%;
}
ul.header-buttons li {
	display: inline-block;
    margin: 0;
    padding: 0;
    width: 24%;
}

ul.header-buttons li a {
    display: block;
    /*
    height: 0;
    padding-top: 26.5%;
    width: 100%;
    */
    height: 45px;
    width: 167px;
}

ul.header-buttons .donate {
    background-image: url("../images/header_button.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
ul.header-buttons .donate:hover, ul.header-buttons .donate.down {
    background: url("../images/header_button.png");
    background-repeat: no-repeat;
    background-position: 0 -46px;
}

ul.header-buttons .volunteer {
    background: url("../images/header_button.png");
    background-repeat: no-repeat;
    background-position: -167px 0;
}
ul.header-buttons .volunteer:hover, ul.header-buttons .volunteer.down {
    background: url("../images/header_button.png");
    background-repeat: no-repeat;
    background-position: -167px -46px;
}

ul.header-buttons .get-help {
    background: url("../images/header_button.png");
    background-repeat: no-repeat;
    background-position: -337px 0;
}
ul.header-buttons .get-help:hover, ul.header-buttons .get-help.down {
    background: url("../images/header_button.png");
    background-repeat: no-repeat;
    background-position: -337px -46px;
}

ul.header-buttons .stories {
    background: url("../images/header_button.png");
    background-repeat: no-repeat;
    background-position: -505px 0;
}
ul.header-buttons .stories:hover, ul.header-buttons .stories.down {
    background: url("../images/header_button.png");
    background-repeat: no-repeat;
    background-position: -505px -46px;
}


/* ============================================= */
/* 					HOME CONTENT				 */
/* ============================================= */	

.home-content {
	background: url("../images/home/background-home.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    margin: 0 auto;
    text-align: center;	
}

.home-slider {
	background: url("../images/home/background-slider.jpg") repeat scroll center 0 rgba(0, 0, 0, 0) !important;
	background-size: 100% auto;
	max-height: 403px;
	/*height: 395px;
	max-height: 395px;
	position: relative;*/	
}
.flexslider {
	height: 395px;
}
.home-slider-bg {
	background: url("../images/home/background-slider.jpg");
	background-position: center center !important; 
    background-repeat: no-repeat;
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.home-container {
	max-width: 1100px;
	margin: 0 auto;	
}

.flexslider .slides {
	background-color: #000000;
}

.slide-content {
	height: 100%;
    left: 40px;
    position: absolute;
    right: 40px;
    text-align: left;
    top: 0;
    width: auto;
}

.slide-content p {
	color: #FFFFFF;
    font-family: 'Clarendon';
    margin: 0;
    padding: 0;
}

.slide-content p a.read-more {
	background: url("../images/home/more.png") no-repeat scroll left 6px rgba(0, 0, 0, 0);
    color: #A76F26;
    display: block;
    float: left;
    font-family: 'Clarendon';
    font-size: 15px;
    line-height: 20px;
    padding-left: 20px;
}

/* ============================================= */
/* 					SLIDESHOW					 */
/* ============================================= */




/* ============================================= */
/* 					YOUTUBE VIDEO				 */
/* ============================================= */

.video-wrap {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.video-container {
	background-color: #000000;
    bottom: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.videoWrapper {
    height: 100%;
    position: relative;
}

.videoWrapper.ios {
	left: 15%;
    right: 15%;
    width: 70%;
}


.videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.video-overlay {
	background-color: #000000;
    background-image: url("../images/home/video.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}

.close-video {
	background: url("../images/home/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 48px;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 48px;
    z-index: 9999;
}


/* ============================================= */
/* 					HOME CONTENT				 */
/* ============================================= */


article {
    margin: 0 auto;
    max-width: 1100px;
    overflow: hidden;
    padding: 30px 1% 0;
    width: 98%;
    padding-top: 30px
}
article > div {
    background-color: #FFFCFE;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    margin-bottom: 15px;
    margin-right: 2%;
    overflow: hidden;
    position: relative;
    width: 23.5%;
    
    height: 160px;
}
article > div.double {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);    
    border-radius: 0;
    box-shadow: none;
    cursor: auto;
    margin-right: 2%;
    width: 49%;
}
article > div.double-after {
	display: none;	
}

article > div:nth-child(4n+4) {
    margin-right: 0;
}
article > div:not(.double):hover {
    background-color: #B4D0FA;
}

article > div > div.image-box {
	height: 118px;
    margin: 7px 7px 0;
}

article > div img {
	border-radius: 15px;
    overflow: hidden;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    position: inherit;
    
    -moz-box-shadow:    0px 0px 0px 1px #CCCCCC;
	-webkit-box-shadow: 0px 0px 0px 1px #CCCCCC;
	box-shadow:         0px 0px 0px 1px #CCCCCC;
}
article > div:last-child > div.image-box img {
	
}

article > div p {
	margin: 0 10px;
}

article > div p a {
	color: #003666;
    font-family: 'HelveticaNeue-Light';
    font-size: 16px;
    line-height: 30px;
    position: relative;
}
article > div p a:hover {
	color: #003666;
}


/* =============================================*/
/*					FOOTER					 	*/
/* =============================================*/

footer {
    background-image: url("../images/footer_bg.png");
    background-repeat: repeat-y;
    font-size: 13px;
    width: 100%;
}


.footer_ctn {
    color: #FFFFFF;
    margin: 0 auto;
    /*max-width: 1100px;*/
    width: 1100px;
    text-align: center;    
}

.footer_ctn img {
    margin-top: 15px;
}

.footer_ctn p {
    color: #99928C;
    margin: 5px;
}

.footer_ctn a {
    color: #99928C;
}


/* ============================================= */
/* 					RESPONSIVE					 */
/* ============================================= */
/*
@media screen and (max-width: 1100px) {
	
}

@media screen and (max-width: 960px) {
	article > div {
	    margin-right: 4%;
	    width: 30%;
	    height: 160px;
	}
	article > div.double {
		margin-right: 4%;
	    width: 64%;
	}
	article > div:nth-child(4n+4) {
	    margin-right: 4%;
	}
	article > div:nth-child(3n+3) {
	    margin-right: 0%;
	}	
}

@media screen and (max-width: 640px) {
	ul.header-buttons {
		padding-left: 2%;
		padding-right: 2%;
		text-align: center;
		width: 96%;
	}
	
	article > div {
	    margin-right: 4%;
	    width: 30%;
	}
	article > div:not(.double) {
	    height: 125px;
	}
	article > div.double {
		margin-right: 0%;
	    width: 100%;
	}
	article > div:nth-child(4n+4) {
	    margin-right: 4%;
	}
	article > div:nth-child(3n+3) {
	    margin-right: 4%;
	}
	article > div:nth-child(3n+5) {
	    margin-right: 0%;
	}
	
	article > div > div.image-box {
		height: 70px;
	}
	article > div p a {
		font-size: 14px;
   		line-height: 18px;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		left: 0;
    	margin: 0 auto;
	    position: inherit;
	    width: 50%;
	}
	
	ul.social, ul.main-menu {
		padding-left: 2%;
		padding-right: 2%;
		text-align: center;
		width: 96%;
	}
	
	ul.header-buttons li {
		padding-left: 8%;
	    padding-right: 8%;
	    width: 33%;
	}
	
	article {
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
	}
	
	article > div {
	    margin-right: 5%;
	    width: 47%;
	}
	article > div.double {
		margin-right: 0%;
	    width: 100%;
	}
	article > div:nth-child(4n+4) {
	    margin-right: 5%;
	}
	article > div:nth-child(3n+3) {
	    margin-right: 5%;
	}
	article > div:nth-child(3n+5) {
	    margin-right: 5%;
	}
	article > div:nth-child(2n+2) {
	    margin-right: 0%;
	}
	
	article > div > div.image-box {
		height: 85px;
	}
	article > div p a {
		font-size: 12px;
   		line-height: 15px;
	}
}

@media screen and (max-width: 320px) {
	.logo {
	    width: 90%;
	}
	
	ul.social, ul.main-menu {
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
	}
	ul.social li:first-child {
		display: block;
	}
	
	article > div {
	    margin-right: 0%;
	    width: 100%;
	}
	article > div.double {
		margin-right: 0%;
	    width: 100%;
	}
	article > div:nth-child(4n+4) {
	    margin-right: 0%;
	}
	article > div:nth-child(3n+3) {
	    margin-right: 0%;
	}
	article > div:nth-child(3n+5) {
	    margin-right: 0%;
	}
	article > div:nth-child(2n+2) {
	    margin-right: 0%;
	}
}
*/
.tabs {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.tabs ul {
	display: list-item;
    margin: 0;
    padding: 0;
    text-align: left;
}

.tabs ul.title {
	height: 20%;
    z-index: 2;
}

.tabs ul.title li {
	background-color: #e5e0d4;
    border: 1px solid #DDDDDD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    margin-right: -5px;
}

.tabs ul.title li.active {
	background-color: #ffffff;    
	border-bottom: none;
}

li .tab-tweets {
	background: url("../images/home/feeds.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
    display: block;
    height: 14px;
    margin: 9px;
    width: 68px;
}
li.active .tab-tweets, .tab-tweets:hover {
	background-position: 0 -14px;
}

li .tab-facebook {
	background: url("../images/home/feeds.png") no-repeat scroll -68px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 14px;
    margin: 9px;
    width: 80px;
}
li.active .tab-facebook, .tab-facebook:hover {
	background-position: -68px -14px;
}


li .tab-tumblr {
	background: url("../images/home/feeds.png") no-repeat scroll -148px 0 rgba(0, 0, 0, 0);
   	cursor: pointer;
    display: block;
    height: 14px;
    margin: 9px;
    width: 58px;
}
li.active .tab-tumblr, .tab-tumblr:hover {
	background-position: -148px -14px;
}

.social-nav {
	position: absolute;
	top: 10px;
	right: 10px;	
}

.social-nav .social-previous {
	background: url("../images/home/social_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    width: 13px;
}
.social-nav .social-previous:hover {
	background-position: 0 -16px;
}

.social-nav .social-next {
	background: url("../images/home/social_arrow.png") no-repeat scroll -13px 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    width: 13px;
}
.social-nav .social-next:hover {
	background-position: -13px -16px;
}


.social-div {
	background: url("../images/home/social_div.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   	display: inline-block;
	width: 3px;
	height: 16px;
}


.tabs ul.content {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    bottom: 0;
    color: #003666;
    height: 79%;
    left: 0;
    right: 0;
}

.tabs ul.content > li {
    display: inline-block;
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
}

.tabs ul.content > li > div {
	bottom: 10px;
    height: auto;
    left: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: auto;
    overflow: auto;
}

.tabs ul.content > li ul {
	list-style: none;
    margin-left: 5px;
}

.tabs ul.content > li ul li {
	border-bottom: 1px solid #D7D7D7;
	display: list-item;
    list-style: disc inside none;
    margin-top: 2px;
}
.tabs ul.content > li ul li:last-child {
	border-bottom: none;
}


.tabs ul.content > li ul li p {	
	color: #003666;
	display: block;
    font-family: 'HelveticaNeue-Light';
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 15px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabs ul.content > li ul li p:first-child {
	display: inline;
	margin: 0;
}
.tabs ul.content > li ul li p:last-child {
	margin-bottom: 5px;
}

.tabs ul.content > li ul li p a {
	color: #8DD6F5;
	font-family: 'HelveticaNeue-Light';
    font-size: 14px;
    line-height: 16px;    
}


.mCustomScrollBox  {
	width: 100%;
}